body{
    background-color:rgb(39, 39, 39);
    margin: 0;
}
header {
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 25px;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 20px 0px 20px 15px;
    width: 300px;
    margin: 50px auto;
    font-size: 18px;
    max-width: 350px;

}

input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.nasc{
    margin-left: 58px;
    width: 170px;
}

button {
    text-align: center;
    padding: 10px;
    background-color: #3d5f44;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: auto;
    margin: 0px 110px;
}
